{% extends 'base.html' %}

{% block title %} CHAMBRTI | Résultats {% endblock title %}

{% block content %}
	
	<div class="container py-5">
		<div class="row justify-content-center">
			<div class="col-11 col-md-8 col-lg-6">
				{% if valid %}
				<h5>Vous : {{user.get_full_name}}</h5>
				<h5>Cochambre : {{coch.get_full_name}}</h5>
				<h5>Genre : {{chambre.get_genre_display}}</h5>
				<h5>Cité : {{chambre.get_cite_display}}</h5>
				<h5>Chambre : {{chambre.name}}</h5>

				<table class="table">
				  <tbody>
				    <tr>
				      <th scope="row">Vous</th>
				      <td>{{user.get_full_name}}</td>
				    </tr>
				    <tr>
				      <th scope="row">Cochambre</th>
				      <td>{{coch.get_full_name}}</td>
				    </tr>
				    <tr>
				      <th scope="row">Genre</th>
				      <td>{{chambre.get_genre_display}}</td>
				    </tr>
				    <tr>
				      <th scope="row">Cité</th>
				      <td>{{chambre.get_cite_display}}</td>
				    </tr>
				    <tr>
				      <th scope="row">Chambre</th>
				      <td>{{chambre.name}}</td>
				    </tr>
				  </tbody>
				</table>

				{% else %}
				<h5>Votre compte est invalide</h5>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock content %}